#!/bin/sh

{% for host in groups['tag_Type_indigo_tests'] if host != inventory_hostname -%}
    echo '{"method": "dial_seeds", "params": [["{{ host }}:46656"]] }' | curl -d @- localhost:46657
{% endfor %}
