version: '2'
services:
  indigoexplorer:
    image: stratumn/indigo-explorer:v0.5.0
    ports:
    - "4000:4000"
  agent:
    build:
      dockerfile: Dockerfile.dev
      context: agent
    ports:
    - "3000:3000"
    volumes:
    - ./agent:/src/server
    depends_on:
    - store
  store:
    image: alexppxela/tmstore:latest
    # image: stratumn/tmstore:latest
    command: [tmstore, -endpoint, "tcp://tmapp:46657"]
    depends_on:
    - tmapp
  tmapp:
    # image: alexppxela/dummytmpop:latest
    # command: [dummytmpop, -home, /data/tendermint, -rules_filename, /data/tendermint/validation_rules.json, -unsafe, -max_block_size_txs, 1000]
    # image: alexppxela/filetmpop:latest
    # command: [filetmpop, -home, /data/tendermint, -rules_filename, /data/tendermint/validation_rules.json, -log_level, debug, -unsafe]
    image: alexppxela/dummytmpop:latest
    command: [dummytmpop, -home, /data/tendermint, -rules_filename, "", -unsafe]
    # image: alexppxela/tmdummy:latest
    # command: [tmdummy, -unsafe]
    ports:
    - 46656:46656
    - 46657:46657
    volumes:
    - "{{ tendermint_dir }}:/data/tendermint"
    - /var/stratumn/filestore:/var/stratumn/filestore
    extra_hosts:
    {% for host in groups['ec2'] %}
      - "{{ host }}:{{ hostvars[host].ec2_ip_address }}"
    {% endfor %}
    # meant as a temporary workaround so that tendermint can write in /data/tendermint
    user: root
volumes:
  mongo-data:
